{% extends "ranker/layout.html" %}

{% load static %}

{% block main %}

    <!-- Shows the homepage -->
    <div id="home-view">
        <!-- Show the user's top three albums -->
        <h1>Top Three Albums</h1>
        <div id="top-3"></div> 

        <!-- Show album ranking three different ways -->
        <h1>Album Rankings</h1>
        <div id="album-rank">
            <!-- Show all the albums ranked by their overall score -->
            <div id="album-rank-overall">
                <h2>Overall</h2>
            </div>

            <!-- Show all the albums based of each song's rating -->
            <div id="album-rank-score">
                <h2>Avg Song Score</h2>
            </div>

            <!-- Show all the albums based of the favorite/skip score -->
            <div id="album-rank-fav-skip">
                <h2>Fav/Skip Score</h2>
            </div>
        </div>

        <!-- Show song ranking by highest to lowest and vise-versa -->
        <h1>Song Ranking</h1>
        <div id="song-rank">
            <!-- High to Low -->
            <div id="song-rank-high"></div>

            <!-- Low to High -->
            <div id="song-rank-low"></div>
        </div>

        <!-- button that takes the user to the rankings page -->
        <button class="to-rank">Rank!</button>
    </div>

    <!-- Song Rating Page -->
    <div id="rating-view">
        <div id="album-selector">
            <img class="selction-img" data-album="1" src="{% static 'ranker/images/album_covers/1.jpeg' %}" alt="Debut">
            <img class="selction-img" data-album="2" src="{% static 'ranker/images/album_covers/2.jpeg' %}" alt="Fearless">
            <img class="selction-img" data-album="3" src="{% static 'ranker/images/album_covers/3.jpeg' %}" alt="Speak Now">
            <img class="selction-img" data-album="4" src="{% static 'ranker/images/album_covers/4.jpeg' %}" alt="Red">
            <img class="selction-img" data-album="5" src="{% static 'ranker/images/album_covers/5.jpeg' %}" alt="1989">
            <img class="selction-img" data-album="6" src="{% static 'ranker/images/album_covers/6.jpeg' %}" alt="reputation">
            <img class="selction-img" data-album="7" src="{% static 'ranker/images/album_covers/7.jpeg' %}" alt="Lover">
            <img class="selction-img" data-album="8" src="{% static 'ranker/images/album_covers/8.jpeg' %}" alt="folklore">
            <img class="selction-img" data-album="9" src="{% static 'ranker/images/album_covers/9.jpeg' %}" alt="evermore">
            <img class="selction-img" data-album="10" src="{% static 'ranker/images/album_covers/10.jpeg' %}" alt="Midnights">
        </div>

        <div id="rating-rater"></div>

        <button class="to-home">Home</button>
    </div>

{% endblock %}

{% block body %} <script src="{% static 'ranker/index.js' %}"></script> {% endblock %}